# =============== #
# Unity generated #
# =============== #
Obj/
UnityGenerated/
Build/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ================ #
# Python generated #
# ================ #
*.pyc

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Temp/
Library/
*.odt#
*.pyo
*.pyc
*.py~
ihm.pyc
*.blend
eau_f1.blend
/LaboReV/data/baker/f1/Ceramic.jpg
/LaboReV/data/baker/f1/pilier1.png
*.blend1
*.mtl~
/LaboReV/data/baker/f1/textures
